<div class="container">
  <div class="container">
    <div class="row">
      <h1>New Cocktail</h1>
        <div class="col-md-6 col-md-offset-3">
        <%= simple_form_for (@cocktail) do |f| %>
        <form class="ui form">
          <%= f.error_notification %>
          <%= f.input :name, class: 'field' %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.button :submit %>
        <% end %>
        </form>
      <%= link_to "Return at list", cocktails_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>