<div class="container">
 <div class"row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= @cocktail.name %></h1>
      <% @cocktail.doses.each do |dose| %>
        <div class="card-rate">
        <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete do %>
        <i class="fa fa-times" aria-hidden="true"></i>
        <%end%>
        <p><%= dose.description %></p>
        <p><%= dose.ingredient.name %></p>
        <%= cl_image_tag @product.photo, height: 300, width: 400, crop: :fill %>
        </div><br>
      <% end %>
      <%= link_to "Add Dose", new_cocktail_dose_path(@cocktail), class: "ui primary button" %>
      <%= link_to "Return to the List", cocktails_path, class: "ui button" %>
    </div>
  </div>
</div>